<div>
  <div className="relative top-[-80px] mt-[-96px] bg-gray-800 text-white w-full h-96 ">
    <img
      src="/assets/education.gif"
      alt="img"
      className="object-scale-down h-96 float-right "
    ></img>
    <h1 className="text-4xl font-bold px-10 pt-5">Education</h1>

    <br></br>

    <p className="px-10 text-gray-400">Bachelor Degree</p>
    <div className="flex px-10 text-gray-400">
      <p>Computer Application</p>
      <p className="ml-96 pl-28">
        Guru Gobind Singh Indraprastha University
      </p>
    </div>

    <div className="flex px-10 text-gray-400">
      <p>6th sem SGPA-8.7</p>
      <p className="ml-96 pl-96">2021-24</p>
    </div>

    <p className="px-10 text-gray-400">Overall CGPA-8.2</p>

    <br></br>
    <p className="px-10 text-gray-400 ">Senior Secondary Education</p>
    <div className="flex  text-gray-400">
      <p className="px-10 text-gray-400 ">
        Central board of secondary education
      </p>
      <p className="px-10 text-gray-400 ml-96 pl-48 ">2020-2021</p>
    </div>
    <br></br>
    <p className="px-10 text-gray-400 "> Secondary Education</p>
    <div className="flex  text-gray-400">
      <p className="px-10 text-gray-400 ">
        Central board of secondary education
      </p>
      <p className="px-10 text-gray-400 ml-96 pl-48 ">2018-2019</p>
    </div>
  </div>

  <section id="Contact">
    <div className="pt-24">
      <h1 className="font-semibold text-blue-600 text-xl text-center">
        Contact with Me
      </h1>
      <p className="font-bold text-6xl text-center">
        Have a Project in Mind?
      </p>
      <p className=" text-gray-500 text-xl text-center mt-5">
        Let's discuss
      </p>
      <br></br>
      <br></br>

      











      {/* <form class="max-w-sm mx-auto ">

<div className='columns-2 '>
<div class="mb-5">
<label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your name</label>
<input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Name" required />
</div>

<div class="mb-5">
<label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company name</label>
<input type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Company Name (optional)" required />
</div>
</div>


<div class="mb-5">
<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your email</label>
<input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Your email" required />
</div>

<div class="mb-5">
<label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone number</label>
<input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Phone Number" required />
</div>
<div class="mb-5">
<label for="project" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tell me about your project</label>
<textarea id="project" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Describe your project" required></textarea>
</div>
<button type="submit" class= "  mx-36   text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
*/}
    </div>
  </section>
  <br></br>
  <br></br>

  {/* <div className='grid grid-cols-2 mt-60'>
<div className=" bg-violet-950 w-full h-96 mx-auto py-12 px-4 sm:px-6 lg:px-8">
<div className=' text-gray-300 mx-32 mt-16'><h1 className='font-bold text-6xl'>Let's talk!</h1>
<p className='text-3xl font-semibold mt-10 '>Contact Info</p>
<p className='mt-4'>hrsh12032015@gmail.com</p>
<p>+918920504921</p>
<p>A-158a lajpat nagar, sahibabad, ghaziabad</p></div>
</div>
<div className='bg-violet-950 w-full h-96'>
<div className='text-gray-300 mx-64' >
<h1 className='text-3xl font-bold mt-28 '>Quick Links</h1>
<br></br>
<ul className="">
      <li className="hover:text-blue-500">
        <a href="https://www.linkedin.com/in/harsh-singh-4z/">LinkedIN</a>
      </li>
      <li className="hover:text-blue-500">
        <a href="https://github.com/Harsh77-77">GITHUB</a>
      </li>
      <li className="hover:text-blue-500">
        <a href="#">Twitter</a>
      </li>
      <li className="hover:text-blue-500">
        <a href="#">UPwork</a>
      </li>
    </ul>
</div>
  
</div>

<div className='bg-blue-950 h-24 w-screen'></div> 
</div> */}
  <div className="  bg-violet-950 px-4 flex justify w-full lg:flex md:flex sm:flex  ">
    <div className=" text-gray-300 whitespace-nowrap  ">
      <h1 className="font-bold sm:mx-8 md:mx-7 lg:mx-24 sm:text-sm md:text-2xl lg:text-4xl ">
        Quick Links
      </h1>
    </div>
    <ul className="text-slate-300 space-x-32 flex  pt-3 ">
      <li className="hover:text-blue-500">
        <a href="https://www.linkedin.com/in/harsh-singh-4z/">LinkedIN</a>
      </li>
      <li className="hover:text-blue-500">
        <a href="https://github.com/Harsh77-77">GITHUB</a>
      </li>
      <li className="hover:text-blue-500">
        <a href="#">Twitter</a>
      </li>
      <li className="hover:text-blue-500">
        <a href="#">UPwork</a>
      </li>
    </ul>
  </div>
</div>